.container {
  display: flex;
  justify-content: space-around; 
}

.card {
  height: 300px;
  width: 400px;
  background-color: lightgrey;
  text-align: center;
  border: 3px solid black;
  border-radius: 5%;
  font-size: 40px;
  padding-top: 150px;
}
